{% extends 'base.html' %}

{% block content %}

      {% for blog in posts %}
      <div class="container"> 
      <div class="card">
        <div class="card-body">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.pub_date | date:"Y-m-d" }}</p>
        <p>{{ blog.summary }}<a href="{% url 'detail' blog.id %}"> ...자세히 보기</a></p> 
         
      </div>
      </div>
      </div>
      <br>
      {% endfor %}

      {%if posts.has_previous%}
      <a href="?page=1">첫 번째 페이지</a>
      <a href="?page={{posts.previous_page_number}}">이 전 페이지</a>
      {%endif%}

      <span>{{posts.number}}</span>
      <span>of</span>
      <span>{{posts.paginator.num_pages}}</span>

      {%if posts.has_next%}
      <a href="?page={{posts.next_page_number}}">다음 페이지</a>
      <a href="?page={{posts.paginator.num_pages}}">마지막 페이지</a>
      {%endif%}

{% endblock %}